<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065842680899-jgsk1ju1l34shurp7osv2ncmslntf5f2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065842680899-jgsk1ju1l34shurp7osv2ncmslntf5f2</string>
	<key>API_KEY</key>
	<string>AIzaSyA6Ccib91QcQx8r4t6hpllHtjKglekfya0</string>
	<key>GCM_SENDER_ID</key>
	<string>1065842680899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emailAuthentication</string>
	<key>PROJECT_ID</key>
	<string>auth-demo-72207</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-demo-72207.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065842680899:ios:815980f965069dde9460f6</string>
</dict>
</plist>